*/__pycache__/
*/*/__pycache__/

00_data/cifar-10-batches-py/
00_data/cifar-10-python.tar.gz

01_label_uncertainty/log/
01_label_uncertainty/cifar10
01_label_uncertainty/models
01_label_uncertainty/vis

02_concentration_estimation/results

03_abstaining_classifier/attack_log
03_abstaining_classifier/figs
03_abstaining_classifier/models

04_confident_learning/data/train
04_confident_learning/data/test
04_confident_learning/figs
04_confident_learning/images
04_confident_learning/saved
04_confident_learning/model_resnet50__checkpoint.pth.tar
04_confident_learning/model_resnet50_best.pth.tar


